* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: whitesmoke;
}
button{
    display: block;
    margin: 1em auto;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    padding: 1em 4em;
    font-size: 1.2em;
}
h1{
    text-align: center;
    margin-top: 200px;
    font-size: 3em;
}